stages:
  - build
  - test
  
.project_activation: &project_activation
  # Will ensure that the CI pipeline will 'only' run when initiated via the
  # the web GUI (CI / CD -> Pipelines -> Run Pipeline).
  only:
    - web

variables:
  # In this repo we create a Git Submodule, in this case the official Spack
  # repo ($ git submodule add https://github.com/spack/spack). In order to
  # fetch this repo during the standard process we must define the
  # 'GIT_SUBMODULE_STRATEGY'.
  # Source: https://git-scm.com/book/en/v2/Git-Tools-Submodules
  GIT_SUBMODULE_STRATEGY: recursive
  
.runner_platform1_shell: &runner_platform1_shell
  tags:
    - SLES12     
    - anl-theta-xeon-001     
    - cray-xc40     
    - ecp-theta     
    - ecp     
    - shell     
    - test

.runner_platform2_batch: &runner_platform2_batch
  # Similiar to past example we are leveraging the GitLab Batch runner and as
  # such we will need to provide the job submission parameters.
  #variables:
  #  SCHEDULER_PARAMETERS: "--nodes=1 --partition=ecp-p9-4v100"
  tags:
    - CLE     
    - anl-theta-xeon-001     
    - cray-xc40     
    - ecp-theta     
    - ecp     
    - cobalt     
    - test

before_script:
  - export TERM=xterm
  - source $HOME/spack/share/spack/setup-env.sh

# Share this across jobs/machines
.build_spack_stage:
  stage: build
  script:
    - whoami
    - spack --version
    - spack env create myciminiqmc || echo "Spack env myciminiqmc already created"
    - spack env list
    - spack env activate myciminiqmc
    - spack env status
    - spack install miniqmc^cmake@3.6.0 ^openmpi
    - ls -lastr $HOME/spack/var/spack/environments/myciminiqmc
    - spack env status
    - spack env deactivate
    - spack env status
    - spack env create myopenspeedshop || echo "Spack env myopenspeedshop already created"
    - spack env list
    - spack env activate myopenspeedshop
    - spack env status
    - spack install openspeedshop +cuda+openmpi ^cmake@3.6.0 
    - ls -lastr $HOME/spack/var/spack/environments/myopenspeedshop

# Share this across jobs/machines
.test_spack_stage: 
  stage: test
  script:
    - pwd
    - source $HOME/spack/share/spack/setup-env.sh
    - module avail
    - hostname
    - spack env list
    - spack env activate myciminiqmc
    - spack env status
    - ls -lastr $HOME/spack/var/spack/environments/myciminiqmc
    - spack find
    - which miniqmc
    - which aprun
    - aprun -np 2 miniqmc < ./input_args
    - spack env list
    - spack env create myopenspeedshop || echo "Spack env myopenspeedshop already created"     
    - spack env list     
    - spack env activate myopenspeedshop     
    # If you need to load the module associated with the package you are     
    # building.  This code will load the package's module for you     
    - spack module tcl find --full-path openspeedshop > /tmp/openspeedshop_module     
    - while read line; do echo $line; module load $line; done < /tmp/openspeedshop_module     
    - module list
    - osspcsamp "aprun -n 2 `which miniqmc` < ./input_args"

# Use shared .build_spack_stage code and project activation code
# Build on platform1 - shell executor
build_spack_shell:
  extends: .build_spack_stage
  <<: *runner_platform1_shell
  <<: *project_activation

# Use shared .build_spack_stage code and project activation code
# Build on platform2 - batch executor
build_spack_batch:
  extends: .build_spack_stage
  <<: *runner_platform2_batch
  <<: *project_activation

# Use shared .test_spack_stage code and project activation code
# Test on plaform1 - shell executor
test_spack_shell:
  extends: .test_spack_stage
  <<: *runner_platform1_shell
  <<: *project_activation

# Use shared .test_spack_stage code and project activation code
# Test on platform2 - batch executor
test_spack_batch:
  extends: .test_spack_stage
  <<: *runner_platform2_batch
  <<: *project_activation


